{% extends 'base.html.twig' %}

{% block body %}
	<h1>Menu</h1>
	<ul>
		<li><a href="{{ path('cineland_init') }}">Initialiser la base de donnée</a></li>
		<li><a href="{{ path('genre_index') }}">Genre</a></li>
		<li><a href="{{ path('acteur_index') }}">Acteur</a></li>
		<li><a href="{{ path('film_index') }}">Film</a></li>
		<li><a href="{{ path('cineland_action13') }}">lister les films dont la date de sortie est comprise entre deux années données</a></li>
		<li><a href="{{ path('cineland_action14') }}">lister les films dont la date de sortie est antérieure à une certaine date précise donnée</a></li>
		<li><a href="{{ path('cineland_action16') }}">lister les acteurs ayant joué dans au moins 3 films différents</a></li>
		<li><a href="{{ path('cineland_action17') }}">lister tous les films dans lesquels 2 acteurs donnés ont joué ensemble</a></li>
		<li><a href="{{ path('cineland_action18') }}">lister les genres pour lesquels un acteur donné a joué au moins 2 films</a></li>
		<li><a href="{{ path('cineland_action19') }}">Afficher la durée en minutes de tous les films joués par un acteur donné</a></li>
		<li><a href="{{ path('cineland_action20') }}">Afficher pour chaque acteur la liste des films dans lesquels il a joué dans l’ordre chronologique</a></li>
		<li><a href="{{ path('cineland_action21') }}">Afficher pour chaque acteur la liste des genres dans lesquels il a joué au moins un film.</a></li>
		<li><a href="{{ path('cineland_action22') }}"> Afficher la durée moyenne de tous les films d’un genre donné</a></li>
		<li><a href="{{ path('cineland_action23') }}">Augmenter ou diminuer la note d’un film</a></li>
		<li><a href="{{ path('cineland_action25') }}">Rechercher des films via une partie de titre</a></li>
		<li><a href="{{ path('cineland_action26') }}"> Augmenter l’âge minimal de tous les films dans lesquels à jouer un acteur donné</a></li>
	
	
{% endblock %}
